@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add all the global styles here, Including color  */
:root {
  --primary-color: #ED3237;
  --secondary-color-1: #1E1E1E;
  --secondary-color-2: #7A7A7B;
}
