@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');

/* Add all the global styles here, Including color and fonts */
:root {
  --secondary-color: #ED3237;
  --secondary-color-2: #1E1E1E
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  font-family: 'Inria Sans', sans-serif;
  color: rgb(var(--foreground-rgb));
}